.DS_STORE
*.ipr
*.iml
*.iws
web/
lib/*.zip
version.properties
.sass-cache
swagger-ui.sublime-workspace
.idea
.project
*.swp
npm-debug.log
node_modules/*
dist/
src/main/html/css/*
-src/main/html/css/typography.css
